@charset "UTF-8";

.container {
    border: 8px solid blue;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
}

.item1 {
    width: 80px;
    height: 80px;
    background-color: pink;
}

.item2 {
    width: 80px;
    height: 80px;
    background-color: skyblue;
}

.item3 {
    width: 80px;
    height: 80px;
    background-color: orange;
}
